html,body{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weight:400;
    line-height:1.8em;
    colot:grey;
}
.img1{
    background-image:url(images/Beach3.jpg);
    min-height:100%;
}
.img2{
    background-image:url(images/Beach2.jpg);
    min-height:500px;
}
.img3{
    background-image:url(images/Beach1.jpg);
    min-height:500px;
}
.img1,.img2,.img3{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.text{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}
.textBg{
    background:rgb(38, 37, 37);
    color:white;
    padding:20px;

}
.section{
    padding:50px 80px;
    text-align:center;
}
.section-light{
    background-color:#f4f4f4;
    color:#666;
}
.section-dark{
    background-color:rgb(38, 37, 37);
    color:white;
}
